@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gradient-bg-welcome {
  background-color: #4c4662;
  background-image: radial-gradient(
      at 0% 0%,
      hsla(253, 16%, 7%, 1) 0,
      transparent 50%
    ),
    radial-gradient(at 50% 0%, rgb(40, 62, 130) 0, transparent 50%),
    radial-gradient(at 100% 0%, rgb(112, 8, 44) 0, transparent 50%);
}

.gradient-bg-services {
  background-color: #0f0e13;
  background-image: radial-gradient(
      at 0% 0%,
      hsla(253, 16%, 7%, 1) 0,
      transparent 50%
    ),
    radial-gradient(at 50% 100%, rgb(18, 23, 39) 0, transparent 50%);
}

.gradient-bg-transactions {
  background-color: #110626;
  background-image: radial-gradient(
      at 0% 100%,
      hsla(253, 16%, 7%, 1) 0,
      transparent 50%
    ),
    radial-gradient(at 50% 0%, hsla(225, 39%, 25%, 1) 0, transparent 50%);
}

.gradient-bg-footer {
  background-color: #0f0e13;
  background-image: radial-gradient(
      at 0% 100%,
      hsla(253, 16%, 7%, 1) 0,
      transparent 53%
    ),
    radial-gradient(at 50% 150%, rgb(49, 12, 25) 0, transparent 50%);
}

.blue-glassmorphism {
  background: rgba(22, 33, 69, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(18, 16, 16, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(23, 2, 2, 0.3);
}

/* white glassmorphism */
.white-glassmorphism {
  background: rgba(55, 23, 23, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(119, 13, 13, 0.3);
}

.eth-card {
  background-color: #433ca0;
  background-image: radial-gradient(
      at 83% 67%,
      rgb(152, 231, 156) 0,
      transparent 58%
    ),
    radial-gradient(at 67% 20%, rgb(134, 121, 122) 0, transparent 59%),
    radial-gradient(at 88% 35%, hsla(222, 81%, 65%, 1) 0, transparent 50%),
    radial-gradient(at 31% 91%, hsla(9, 61%, 61%, 1) 0, transparent 52%),
    radial-gradient(at 27% 71%, rgb(110, 27, 61) 0, transparent 49%),
    radial-gradient(at 74% 89%, rgb(235, 225, 214) 0, transparent 51%),
    radial-gradient(at 53% 75%, rgb(242, 244, 243) 0, transparent 45%);
}

.text-gradient {
  background-color: rgb(244, 240, 240);
  background-image: radial-gradient(
      at 4% 36%,
      rgb(204, 196, 196) 0,
      transparent 53%
    ),
    radial-gradient(at 100% 60%, rgb(0, 0, 0) 0, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
